{{ define "css" }}
<style type="text/css" media="screen">
  @media (max-width: 970px) {
    .browse-level {
      display: block !important;
      min-height: auto;
      z-index: auto !important;
      padding-bottom: 1em;
      border-bottom: 1px solid #b2b2b2;
    }
  }
</style>
{{ end }}

{{ define "bodyClasses" }}page-parcourir eu-cookie-compliance-processed{{ end }}

{{ define "contentHeader" }}
<span>Exemple d'affichage du prototype intégré dans l'environnement de l'État de Genève</span>
<section style="width: 100%" id="block-block-14" class="block block-block clearfix">
  <p>Accueil du prototype Scodes</p>
</section>
{{ end }}

{{ define "content" }}

<div class="parcourir">
  <div class="panel-navigation">
    <div class="container">
      <div class="row row-navigation">
        <div class="panel-pane pane-block pane-edg-2016-base-menu-prestations col-md-12">
          <div class="pane-content">
            <br/>
            <i>Séléctionnez votre rôle:</i>
            <nav role="navigation">
              <div id="browse-wrapper" class="browse-page">
                <div class="browse-level browse-level-1">
                  <div id="main" class="menu-category wrapper">
                    <ul>
                      <li tabindex="1" onkeypress="selectCatOnKeypress(event, 'citoyen')"><a onClick="selectCat('citoyen')" data-cat="citoyen">Rôles des citoyens</a></li>
                      <li tabindex="2" onkeypress="selectCatOnKeypress(event, 'admin')"><a onClick="selectCat('admin')" data-cat="admin">Rôles des collaborateurs de l'Etat</a></li>
                    </ul>
                  </div>
                </div>
                <div class="browse-level browse-level-2 active">
                  <div id="police_securite_et_reglement_des_conflits" data-subcat="citoyen" class="menu-category">
                    <h2>Citoyens</h2>
                    <ul>
                      {{ range (where (where .Site.Pages.ByWeight "Section" "citoyen") "UniqueID" "!=" "").ByWeight }}
                      <li>
                        <a href="{{.Permalink}}">
                          <h3>{{.Title}}</h3>
                          <p>{{.Description}}</p>
                        </a>
                      </li>
                      {{ end }}
                    </ul>
                  </div>
                  <div id="police_securite_et_reglement_des_conflits" data-subcat="admin" class="menu-category">
                    <h2>Rôles des collaborateurs de l'Etat</h2>
                    <ul>
                      {{ range (where (where .Site.Pages.ByWeight "Section" "administrateur") "UniqueID" "!=" "").ByWeight }}
                      <li>
                        <a href="{{.Permalink}}">
                          <h3>{{.Title}}</h3>
                          <p>{{.Description}}</p>
                        </a>
                      </li>
                      {{ end }}
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "script" }}
<script>
  function selectCatOnKeypress(event, catId) {
    if (event.key == 'Enter') {
      selectCat(catId);
    }
  }

  function selectCat(catId) {

    let actives = document.querySelectorAll(".active");
    for(let idx in actives) {
      let active = actives[idx];
      if (active && active.classList) {
        active.classList.remove('active')
      }
    }
    document.querySelector("[data-cat="+catId+"]").classList.add("active");
    document.querySelector("[data-subcat="+catId+"]").classList.add("active");

    let wrapper = document.querySelector('#browse-wrapper');
    wrapper.classList.add('browse-step-1');
  }
</script>
{{ end }}
