<!DOCTYPE html>
<html dir="ltr" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile# video: http://ogp.me/ns/video# product: http://ogp.me/ns/product# content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#" lang="fr"><head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Chrome, Firefox OS, Opera and Vivaldi -->
  <meta name="theme-color" content="#337ab7">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#337ab7">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#337ab7">
  <title>Titre</title>
  <link type="text/css" rel="stylesheet" href="https://www.ge.ch/templates/2.7/files/css_5Ny1uOcUV-kqHJGvz-zyizaMoDviiJK5AAoF2eJB7kc.css" media="all">
  <script src="https://www.ge.ch/templates/2.7/files/js_3vwE1uMcW9MdxqUvuT7QB4hm9cWY4NlPdJaqZo08G8o.js"></script>
  <!-- HTML5 element support for IE6-8 -->
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{{ block "css" . }}{{ end }}
</head>
<body class="html not-front not-logged-in no-sidebars {{ block "bodyClasses" . }}page-template{{ end }}">
  <div id="wrapper">
    <!-- Sidebar -->
    <!--<div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#close_sidebar" id="close_sidebar">
            Close Menu
          </a>
        </li>
      </ul>
    </div>-->
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="print-only print-logo">
        <img src="https://www.ge.ch/templates/2.7/files/logo.svg" alt="République et canton de Genève" title="République et canton de Genève" width="100px" height="75px">
      </div>
      <header id="navbar" role="banner" class="navbar container navbar-default">
        <div class="navbar-header row">
          <div class="col-md-11 col-sm-11 col-xs-11">
            <a class="logo pull-left" href="https://www.ge.ch/" title="ge.ch"> GE.CH – République et canton de Genève</a>
            <div class="lead">
              <span>République et canton de Genève</span>
            </div>
          </div>
          <!--<div class="col-md-1 col-sm-1 col-xs-1">
            <a href="#" class="e_demarche pull-right" id="menu-toggle"></a>           </div>-->
          </div>
        </header>
        <div class="highlighted jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <!-- Mise en place des Navbars -->
                <nav class="navbar navbar-default" role="navigation">
                  <div class="navbar-header region-highlighted">
                    <div class="region region-highlighted">
                      {{ block "contentHeader" . }}
                      <div id="block-block-14" class="block block-block clearfix">
                        <p>EN TÊTE</p>
                      </div>
                      {{ end }}
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div id="page">
          <div class="main-container">
            <section>
              <div class="content">
                <div class="container container-page">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="region region-content">
                        <section id="block-system-main" class="block block-system clearfix">
                          {{ block "content" . }}
                          <div class="panel-display panel-1col clearfix">
                            <div class="panel-panel panel-col">
                              <div><div class="panel-pane pane-custom pane-1">
                                <div class="pane-content">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {{ end }}
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <footer class="footer">
<!--         <div class="footer_haut">
          <div class="container ">
            <div class="row">
              <div class="col-md-8 col-lg-8">
                <div class="region region-footer-haut-gauche">
                <section id="block-edg-2016-base-menu-services-informations" class="block block-edg-2016-base clearfix"></section>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="region region-footer-haut-droite">
              <section id="block-menu-menu-menu-gris-clair-bas-droit" class="block block-menu clearfix"></section>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="footer_bas">
      <div class="container ">
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="region region-footer-bas">
              <section id="block-menu-block-1" class="block block-menu-block clearfix"></section>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <span class="footer-logo"> GE.CH – République et canton de Genève</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>
{{ block "script" . }}{{ end }}
</body>
</html>
