{{ define "css" }}
<style type="text/css" media="screen">
  .content > ul {
    padding: 0;
  }
  .content > ul > li {
    display: none;
  }
  .content > ul > li.active {
    display: block;
  }

  .nav-item--active {
    background-color: #e1e1e1;
  }
</style>
{{ end }}

{{ define "contentHeader" }}
<section style="width: 100%" id="block-block-14" class="block block-block clearfix">
  <p>{{.Title}}</p>
  <i>{{.Description}}</i><br/>
</section>
{{ end }}

{{ define "content" }}
<div class="row">
  <nav class="col-md-3 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky sticky-top position-fixed">
      <ul class="nav flex-column">
        <li><a href="../..">⬅️ Retour</a></li>
        {{ range $index, $menu := .Params.menu  }}
        <li class="nav-item" id="nav-{{ $menu | urlize}}">
          <a class="nav-link active" href="#{{ $menu | urlize}}">
            {{ $menu  }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </nav>
  <div class="col-md-9 content" id="content">
    {{.Content}}
  </div>
{{ end }}

{{ define "script" }}
<script>
  function getAnchor() {
    var currentUrl = document.URL,
    urlParts   = currentUrl.split('#');

    return (urlParts.length > 1) ? urlParts[1] : null;
  }

  function init() {
    let activeElements = document.getElementById('content').getElementsByClassName('active');
    for (let i = 0; i < activeElements.length; i++) {
      activeElements[i].classList.remove('active');
    }
    activeElements = document.getElementsByClassName('nav-item--active');
    for (let i = 0; i < activeElements.length; i++) {
      activeElements[i].classList.remove('nav-item--active');
    }

    let anchor = getAnchor();

    if (menu.length < 1) {
      return
    }
    if (!anchor) {
      anchor = menu[0];
    }

    let currentSection = document.getElementById(anchor);
    if (!currentSection) {
      return
    }
    currentSection = currentSection.parentElement;
    currentSection.classList.add('active');

    currentSection = document.getElementById('nav-'+anchor);
    currentSection.classList.add('nav-item--active');
  }

  let menu = [{{ range $index, $menu := .Params.menu  }}"{{$menu | urlize}}",{{ end }}];
  init();

  window.addEventListener("hashchange", init);

</script>
{{ end }}
